doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
    link(rel="stylesheet", href="https://jedwatson.github.io/react-codemirror/example.css")
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/templates.bundle.js' : 'https://localhost:3000/js/templates.bundle.js')
