.codeEditors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.javascriptContainer,
.cssContainer {
    flex: 1;
    height: 300px;
    margin: 20px 0px;
    width: calc(100% - 20px);
}

.title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
